body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:664px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 106, 26, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2245 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2247 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2249 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2251 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u2252 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2253 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u2257 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2259 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2263 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u2264 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u2265 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u2267 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2269 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2271 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2273 {
  position:absolute;
  left:180px;
  top:28px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2275 {
  position:absolute;
  left:0px;
  top:99px;
  width:414px;
  height:1px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2277 {
  position:absolute;
  left:6px;
  top:75px;
  width:57px;
  height:16px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:380px;
  width:414px;
  height:1px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  position:absolute;
  left:6px;
  top:356px;
  width:57px;
  height:16px;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:126px;
  top:640px;
  width:140px;
  height:40px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2285 {
  position:absolute;
  left:376px;
  top:27px;
  width:30px;
  height:30px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2287 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2289 {
  position:absolute;
  left:6px;
  top:110px;
  width:76px;
  height:24px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2291 {
  position:absolute;
  left:92px;
  top:110px;
  width:76px;
  height:24px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2293 {
  position:absolute;
  left:183px;
  top:110px;
  width:76px;
  height:24px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2295 {
  position:absolute;
  left:269px;
  top:110px;
  width:76px;
  height:24px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2297 {
  position:absolute;
  left:6px;
  top:151px;
  width:76px;
  height:24px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2299 {
  position:absolute;
  left:92px;
  top:151px;
  width:76px;
  height:24px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2301 {
  position:absolute;
  left:183px;
  top:151px;
  width:76px;
  height:24px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2303 {
  position:absolute;
  left:269px;
  top:151px;
  width:76px;
  height:24px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2305 {
  position:absolute;
  left:514px;
  top:110px;
  width:150px;
  height:150px;
}
#u2306 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2307 {
  position:absolute;
  left:456px;
  top:450px;
  width:150px;
  height:150px;
}
#u2308 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2309 {
  position:absolute;
  left:345px;
  top:163px;
  width:0px;
  height:0px;
}
#u2309_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u2309_seg1 {
  position:absolute;
  left:151px;
  top:-4px;
  width:8px;
  height:30px;
}
#u2309_seg2 {
  position:absolute;
  left:151px;
  top:18px;
  width:18px;
  height:8px;
}
#u2310 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.576470588235294);
}
#u2311 {
  position:absolute;
  left:339px;
  top:75px;
  width:57px;
  height:16px;
  color:rgba(51, 51, 51, 0.576470588235294);
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.576470588235294);
}
#u2313 {
  position:absolute;
  left:339px;
  top:354px;
  width:57px;
  height:16px;
  color:rgba(51, 51, 51, 0.576470588235294);
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:79px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2315 {
  position:absolute;
  left:376px;
  top:666px;
  width:150px;
  height:79px;
}
#u2316 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2317 {
  position:absolute;
  left:196px;
  top:680px;
  width:0px;
  height:0px;
}
#u2317_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u2317_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:184px;
  height:8px;
}
#u2318 {
  position:absolute;
  left:27px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2319 {
  position:absolute;
  left:13px;
  top:391px;
  width:76px;
  height:24px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2321 {
  position:absolute;
  left:99px;
  top:391px;
  width:76px;
  height:24px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2323 {
  position:absolute;
  left:190px;
  top:391px;
  width:76px;
  height:24px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2325 {
  position:absolute;
  left:276px;
  top:391px;
  width:76px;
  height:24px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2327 {
  position:absolute;
  left:13px;
  top:432px;
  width:76px;
  height:24px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2329 {
  position:absolute;
  left:99px;
  top:432px;
  width:76px;
  height:24px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2331 {
  position:absolute;
  left:190px;
  top:432px;
  width:76px;
  height:24px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2333 {
  position:absolute;
  left:276px;
  top:432px;
  width:76px;
  height:24px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2335 {
  position:absolute;
  left:13px;
  top:466px;
  width:76px;
  height:24px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2337 {
  position:absolute;
  left:99px;
  top:466px;
  width:76px;
  height:24px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2339 {
  position:absolute;
  left:190px;
  top:466px;
  width:76px;
  height:24px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2341 {
  position:absolute;
  left:276px;
  top:466px;
  width:76px;
  height:24px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2343 {
  position:absolute;
  left:13px;
  top:507px;
  width:76px;
  height:24px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2345 {
  position:absolute;
  left:99px;
  top:507px;
  width:76px;
  height:24px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2347 {
  position:absolute;
  left:190px;
  top:507px;
  width:76px;
  height:24px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2349 {
  position:absolute;
  left:276px;
  top:507px;
  width:76px;
  height:24px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2351 {
  position:absolute;
  left:13px;
  top:547px;
  width:76px;
  height:24px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2353 {
  position:absolute;
  left:99px;
  top:547px;
  width:76px;
  height:24px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2355 {
  position:absolute;
  left:190px;
  top:547px;
  width:76px;
  height:24px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u2357 {
  position:absolute;
  left:276px;
  top:547px;
  width:76px;
  height:24px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2359 {
  position:absolute;
  left:352px;
  top:559px;
  width:0px;
  height:0px;
}
#u2359_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u2359_seg1 {
  position:absolute;
  left:84px;
  top:-38px;
  width:8px;
  height:42px;
}
#u2359_seg2 {
  position:absolute;
  left:84px;
  top:-38px;
  width:20px;
  height:8px;
}
#u2360 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
