body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u869 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u871 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u872 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u874 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u875 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u876 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u878 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u879 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u880 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u881 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u884 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u885 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u890 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u892 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u893 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u894 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u896 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u900 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u901 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:187px;
  top:30px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u904 {
  position:absolute;
  left:376px;
  top:30px;
  width:30px;
  height:30px;
}
#u905 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:0px;
  top:102px;
  width:414px;
  height:593px;
  overflow:hidden;
}
#u906_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:593px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u906_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1149px;
  overflow:hidden;
  touch-action:none;
}
#u907_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1149px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u907_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:572px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:572px;
}
#u909 {
  position:absolute;
  left:2px;
  top:278px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:241px;
}
#u910 {
  position:absolute;
  left:640px;
  top:34px;
  width:413px;
  height:241px;
}
#u911 {
  position:absolute;
  left:2px;
  top:112px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:541px;
}
#u912 {
  position:absolute;
  left:0px;
  top:572px;
  width:412px;
  height:541px;
}
#u913 {
  position:absolute;
  left:2px;
  top:262px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u914 {
  position:absolute;
  left:457px;
  top:252px;
  width:150px;
  height:231px;
}
#u915 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u916 {
  position:absolute;
  left:457px;
  top:19px;
  width:150px;
  height:150px;
}
#u917 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:37px;
}
#u918 {
  position:absolute;
  left:0px;
  top:64px;
  width:349px;
  height:37px;
  color:#000000;
}
#u919 {
  position:absolute;
  left:2px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u920 {
  position:absolute;
  left:349px;
  top:64px;
  width:64px;
  height:37px;
}
#u921 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:241px;
}
#u922 {
  position:absolute;
  left:1px;
  top:102px;
  width:413px;
  height:241px;
}
#u923 {
  position:absolute;
  left:2px;
  top:112px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u926 {
  position:absolute;
  left:0px;
  top:695px;
  width:138px;
  height:41px;
}
#u927 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:55px;
  top:718px;
  width:29px;
  height:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u930 {
  position:absolute;
  left:58px;
  top:698px;
  width:22px;
  height:22px;
}
#u931 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u934 {
  position:absolute;
  left:138px;
  top:695px;
  width:138px;
  height:41px;
}
#u935 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:198px;
  top:718px;
  width:29px;
  height:16px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u938 {
  position:absolute;
  left:203px;
  top:698px;
  width:20px;
  height:20px;
}
#u939 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u942 {
  position:absolute;
  left:276px;
  top:695px;
  width:138px;
  height:41px;
}
#u943 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:330px;
  top:718px;
  width:29px;
  height:16px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u946 {
  position:absolute;
  left:335px;
  top:698px;
  width:20px;
  height:20px;
}
#u947 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:413px;
  top:83px;
  width:0px;
  height:0px;
}
#u948_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u948_seg1 {
  position:absolute;
  left:37px;
  top:-1px;
  width:8px;
  height:5px;
}
#u949 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:414px;
  top:368px;
  width:0px;
  height:0px;
}
#u950_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u951 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
